<h1>Welcome to Yelp !</h1>

<h2>Name : <%=@restaurant.name%></h2>

<p>Address : <%=@restaurant.address%></p>

<p>Category : <%=@restaurant.category%></p>

<p><%= link_to "ðŸ” Edit the restaurant", restaurants_edit_path(@restaurant.id) %></p>

<p><%= link_to "â­ï¸ Create a review", reviews_new_path(@restaurant.id) %></p>

<div class="link">
  <%= link_to "âž¤ Back to the list", restaurants_path %>
</div>
